.deck-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px
}

.deck-management-container-filler {
    height: 15px;
    width: 100%;
    background-color: lightgray;
    border-radius: 15px 15px 0 0;
    margin-top: 40px;
}