nav {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 1280px;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;
}