header {
    background-color: var(--header-background-color);
}

main {
    padding-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-background-color);
}
